*{
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    border: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(lightblue, #B57EDC);
}

.logo{
    padding-top: 5%;
    margin-left: 40px;
    width: 10vw;
    height: 7vh;
}

main{
   display: flex;
   margin-bottom: 1em;
   margin-left: 180px;
}

.text-area{
    width: 35vw;
    height: 55vh;
    color: #0A3871;
    margin-top: 1.5em;
    text-transform: lowercase;/*para transformar todo el texto a minuscula*/
    border-radius: 32px;
}

::placeholder{color: #0A3871;}
    .text-area:focus{ 
        outline: none;/*esto es para retirar el recuadro*/
    }

.mensaje{
    background: white;
    background-image: url("imagenes/triangle-29649_640.png");
    background-position: center center;
    background-repeat: no-repeat; /*para que no se repita la imagen*/
    background-size: 20%;
    /* Add spacing between images */
    background-origin: border-box;  /* Needed for background-clip property */
    background-clip: padding-box;  /* Clip background images within padding */
    padding-top: 11em;  /* Add desired spacing + image height */
    border-radius: 24px;
    color: #0A3871;
    margin-left: 5em;
    padding-left: 2em;
    position: relative;
    width: 30vw;
    height: 30vh;
}

.mensaje:focus{
    outline: none; /*esto es para que cuando se paren en el espacio no se resalte*/
}

.botones{
    display: inline-block;
    margin-bottom: 0em;
}

.btn-desencriptar{
    background-color: #DBDFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 1.5em;
    margin-left: 1em;
    width: 10em;
    text-align: center;
}

.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 1.5em;
    width: 10em;
    text-align: center;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 1.5em;
    margin-left: 10em;
    margin-top: 1.5em;
    position: absolute;
    width: 10em;
    text-align: center;
}

.informacion{
    color: #495057;
    font-size: 0.7rem;
    margin-top: 1.5rem;
}

.footer{
    font-style: italic;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column; /* This aligns elements vertically */
}

.primero{
    font-size: small;
}

.segundo{
    font-size: small;
}

/* Ajustes para pantallas pequeñas (máximo 768px) */
@media (max-width: 768px) {
    .logo {
        width: 20vw;
        height: 4vh;
        /* Ajustar width y height según sea necesario */
    }

    main {
        margin-left: 2em; /* Ejemplo usando unidad relativa */
        display: block;
    }

    .text-area {
        width: 70vw; /* Puedes ajustar el width usando vw o em */
        height: 23vh; /* Ejemplo usando vh */
        margin-left: 1em;
    }

    .mensaje {
        width: 70vw; /* Ejemplo ajustando el width */
        height: 0.1vh; /* Ejemplo ajustando el height */
        background-size: 5em; /* Ajustar tamaños de imágenes */
        padding-top: 10em;
        padding-left: 0.5em;
        margin-left: 1em;
    }

    .btn-desencriptar,
    .btn-encriptar{
        width: 7rem; /* Ejemplo usando calc() */
        height: 2rem;
        /*margin-top: 0.5em;
        margin-left: 1em; /* Ajustar márgenes */
        margin: center;
        font-size: 0.7em;
    }

    .copiar{
        width: 7rem; /* Ejemplo usando calc() */
        height: 2rem;
        margin-top: 0.5em;
        margin-left: 1em; /* Ajustar márgenes */
        font-size: 0.7em; 
    }
}

/* Otros estilos */
.informacion {
    font-size: 0.7rem; /* Ejemplo usando rem */
}

.footer {
    font-size: 14px; /* Ejemplo ajustando el font-size */
    margin-bottom: 0.5em;
    margin-top: 5em;
}